<%- include('layout/header') %>

    <!-- WELCOME LINE -->

    <p id="welcome_line">Welcome Admin!</p>


    <!-- LINKS -->

    <div class="linksContainer">
        <a class="leftRectangle" href="/drivers" id="drivers_list_link">Drivers List</a>
        <a class="rightRectangle" href="/routes" id="routes_list_link">Routes List</a>
        <a class="leftRectangle" href="/drivers/assign-route" id="assign_routes_link">Assign Routes</a>
        <a class="rightRectangle" href="/social" id="social_link">Social</a>
    </div>


    <!-- FOOTER -->

    <%- include('layout/footer') %>